<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html>-->
<head>
    <title>Confirm Page</title>

</head>
<body>


<div>
    <h1>Confirm Page</h1>
    <!--<button th:onclick="@{/questionaire/disc/getProcessedAnswer}"/>-->
    <form action="#" th:action="@{/questionaire/disc/getProcessedAnswer}" method="post">
        <p>
            <input type="submit" value="view poll answer"/>
            <!--<input type="reset" value="Reset"/>-->
        </p>
    </form>
</div>
</body>
</html>